@media (max-width: 900px) {
  .question-grid {
    grid-template-columns:
      repeat(2, 1fr);
  }

  .hero {
    padding: 30px;

    flex-direction: column;

    align-items: stretch;
  }

  .filter-wrapper {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .navbar-container {
    width: 90%;
  }

  .brand {
    font-size: 19px;
  }

  .brand-subtitle {
    display: none;
  }

  .hero {
    margin-top: 20px;
    padding: 25px;

    border-radius: 18px;
  }

  .hero h1 {
    font-size: 38px;
  }

  .hero p {
    font-size: 15px;
  }

  .analytics-section {
    padding-top: 30px;
  }

  .section-heading {
    align-items: flex-start;
    flex-direction: column;
  }

  .section-heading h2 {
    font-size: 25px;
  }

  .question-grid {
    grid-template-columns: 1fr;
  }

  .answer-modal {
    padding: 25px;
  }
}